<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/icons8-winter-64.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Weather App
    </a>
    <!-- <form class="d-flex" role="search"></form> -->
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="inputValue" />
        <button class="btn btn-outline-success" (click)="handleClick()">Search</button>
    <!-- </form> -->
  </div>
</nav>

<div class="my-container">
  <div class="card text-bg-info m-4" style="width: 24rem;">
    <div class="card-header">
      <h6>{{ weatherData.location.name }}</h6>
      <p>Imagen</p>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text">Tiempo actual: {{ weatherData.timelines.minutely[0].time }}</p>
      <p class="card-text">Grados: {{ weatherData.timelines.minutely[0].values.temperature }}</p>
      <p class="card-text">Dirección de viento: {{ weatherData.timelines.minutely[0].values.windDirection }}</p>
      <p class="card-text">Humedad: {{ weatherData.timelines.minutely[0].values.humidity }}</p>
      <p class="card-text">Visibilidad: {{ weatherData.timelines.minutely[0].values.visibility }}</p>
      <p class="card-text">Indice UV: {{ weatherData.timelines.minutely[0].values.uvIndex }}</p>
      <p class="card-text">Punto de rocio: {{ weatherData.timelines.minutely[0].values.dewPoint }}</p>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->