<div class="card mx-auto mt-3" style="width: calc(100% - 3%); margin: 1%;">
  <div class="card-body">
    <ul>
      <li><h6>Ciudad, Provincia, Pais: </h6>{{ location }}</li><br>
      <li><h6>Tiempo actual: </h6>{{ time }}</li><br>
      <li><h6>Grados: </h6>{{ temperature }}</li><br>
      <li><h6>Dirección de viento: </h6>{{ windDirection }}</li><br>
      <li><h6>Humedad: </h6>{{ humidity }}</li><br>
      <li><h6>Visilibilidad: </h6>{{ visibility }}</li><br>
      <li><h6>Indice UV: </h6>{{ uvIndex }}</li><br>
      <li><h6>Punto de rocio: </h6>{{ dewPoint }}</li>
    </ul>
  </div>
</div>